.login-wrapper {
  position: relative;
  height: 100vh;
  text-align: center;
  .left-side {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.login-div {
  h1 {
    margin-bottom: 40px;
  }
  input {
    min-width: 300px;
  }
}
