.multiaziendaNav {
  background: $lightGrey;
  overflow: hidden;
  .sub-nav {
    background: $white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      float: left;
      text-align: center;
      @include trans(0.3s);
      a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: $darkGrey;
      }
      &.infocus {
        background: $red;
        a {
          color: $white;
          &:hover {
            color: $white;
            background: $darkRed;
          }
        }
      }
      &.icon {
        display: none;
      }
      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        float: right;
      }
    }
  }
}

.sub-nav {
  padding: 20px;
  text-align: center;
}

.middle-bit {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  background: $grey;
  color: $white;
}

.cartelle {
  border: solid 3px $red;
  width: 250px;
  margin: 0 auto;
  a {
    display: block;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .multiaziendaNav {
    .nav-wrapper {
      transition: height 200ms;
      li {
        display: none;
      }
    }
    ul li.icon {
      float: right;
      display: block;
    }
  }
}

@media screen and (max-width: 600px) {
  .multiaziendaNav.responsive {
    position: relative;
    .nav-wrapper {
      li {
        float: none;
        text-align: center;
        &:nth-child(1) {
          background: darken($lightGrey, 10%);
        }
      }
    }
    li {
      float: none;
      text-align: left;
      a.logo {
        text-align: left;
      }
      &.icon {
        position: absolute;
        right: 15px;
        top: 0;
      }
    }
  }
}
