.accordion {
  padding: 20px;
  background-color: $lightGrey;

  .accordion-expand {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      padding: 10px;
      background-color: $red;
      border-radius: 50%;
      color: $white;
    }
  }

  .accordion-expanded {
    hr {
      background-color: $white;
      margin: 20px 0;
      border-color: $white;
    }
  }
}