path {
  @include trans(0.3s);
}

.login-div {
  .logo-img {
    width: 300px;
    margin-bottom: 60px;
  }
  .login-image {
    height: 100vh;
    @include backgroundImagePosition;
  }
}

nav {
  .logo-img {
    width: 90px;
  }
}

.back-arrow {
  width: 10px;
  margin-right: 10px;
}

.header-img {
  height: 11em;
  background-image: url('https://static.pexels.com/photos/440182/pexels-photo-440182.jpeg');
  @include backgroundImagePosition;
}

.bar-choose-photo-div {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border: solid 2px $grey;
  @include backgroundImagePosition;
}

.flip-this {
  transform: scaleX(-1);
}

.bar-img {
  position: relative;
  height: 300px;
  @include backgroundImagePosition;
}

.profile-photo {
  width: 100%;
  background: $red;
  background-image: url('http://s3.amazonaws.com/37assets/svn/765-default-avatar.png');
  @include backgroundImagePosition;
  border-radius: 50%;
  border: solid 3px $lightGrey;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

@media (max-width: 576px) {
  .bar-img {
    height: 150px;
  }
}
