a {
  color: $darkGrey;
  @include trans(0.3s);
  &:focus {
    text-decoration: none;
    color: $darkGrey;
  }
  &:hover {
    .back-arrow {
      path {
        fill: $red;
      }
    }
  }
}

a:hover, button:hover {
  cursor: pointer;
  color: $red;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
  @include trans(0.3s);
  &:hover {
    h2 {
      color: $red;
    }
    .expand {
      background: $darkRed;
      color: $white;
    }
  }
}

.home-div {
  a {
    background: $red;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    color: $white;
    @include trans(0.3s);
    &:hover {
      background: $darkRed;
    }
  }
}

.selected {
  background: $red;
  color: $white;
  &:hover {
    color: white;
  }
}

.nav-btn {
  display: inline-block;
  padding: 13px;
  background: $red;
  color: $white;
  text-transform: uppercase;
  &:hover {
    color: $white;
    background: $darkRed;
  }
}

.options-btn {
  display: block;
  text-align: center;
  border-bottom: solid 2px $lightGrey;
}

.form-btn {
  display: block;
  margin-bottom: 20px;
  background: $grey;
  &:hover {
    background: $darkGrey;
  }
}

.change-photo-btn {
  font-size: smaller;
  padding: 2px 4px;
  background: $red;
  color: $white;
  border-radius: 2px;
    &:nth-child(2) {
      margin-left: 4px;
    }
    &:hover {
      background: $darkRed;
      color: $white;
      .arrow-in-form path {
        fill: $white;
      }
    }
}

.filter {
  color: $red;
  text-decoration: underline;
  margin-bottom: 20px;
}

.expand {
  background-color: $red;
  color: $white;
  border-radius: 50%;
  padding: 3px 11px 5px 11px;
}

.unexpand {
  @extend .expand;
  padding: 3px 14px 5px 14px;
}

.copy-area button {
  background: $red;
  color: $white;
  font-size: 16px;
  border: none;
  padding: 5px;
  @include trans(0.3s);
  &:hover {
    color: $white;
    background: $darkRed;
  }
}

@media (max-width: 768px) {
  .responsive-btn {
    display: block;
    text-align: left;
    margin-top: 20px;
  }
}
