a {
  color: $darkGrey;
  @include trans(0.3s);
  &:focus {
    text-decoration: none;
    color: $darkGrey;
  }
  &:hover {
    span {
      .back-arrow {
        path {
          fill: $red;
        }
      }
    }
  }
}

a:hover, button:hover {
  cursor: pointer;
  color: $red;
  text-decoration: none;
}

.home-div {
  a {
    background: $red;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    color: $white;
    @include trans(0.3s);
    &:hover {
      background: $darkRed;
    }
  }
}

.selected {
  background: $red;
  color: $white;
  &:hover {
    color: white;
  }
}

.nav-btn {
  display: inline-block;
  padding: 13px;
  background: $red;
  color: $white;
  text-transform: uppercase;
  &:hover {
    color: $white;
    background: $darkRed;
  }
}

.form-btn {
  display: block;
  background: $grey;
  &:hover {
    background: $darkGrey;
  }
}
