form {
  // text-align: center;
  label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
  }
}

input {
  margin:0;
  // margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  display: block;
  width: 100%;
  background: $lightGrey;
  border: none;
  border-bottom: solid 2px $lightGrey;
  @include trans(0.3s);
  &[type="submit"] {
    padding: 15px;
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $darkRed;
    }
  }
  &[type="radio"] {
    display: inline-block;
    width: 18px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  &:focus {
    outline: none;
    border-bottom: solid 2px $red;
  }
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  -webkit-border-radius: 0px 0px 0px 0px!important;
  border-radius: 0!important;
  border-bottom: solid 2px $lightGrey;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url(https://d30y9cdsu7xlg0.cloudfront.net/png/242277-200.png) no-repeat 96% 0;
  background-size: 20px;
  background-position: 90% 50%;
  background-color: $lightGrey;
  &:focus {
    outline: none;
  }
  &:before {
    background: $lightGrey;
  }
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background: $lightGrey;
}

.no-label-above {
  margin-top: 28px;
}

.no-label-radio {
  padding: 10px 0;
}

.form-options {
  font-size: 14px;
  padding: 13px 0;
}

.new-form {
  .chosen-address:hover {
    cursor: not-allowed;
  }
  h2 {
    color: $darkGrey!important;
  }
  p {
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    color: $darkGrey;
  }
  span {
    font-size: 150%;
    color: $red;
    font-weight: bold;
  }
  input[type="submit"] {
    margin-top: 35px;
  }
  .search-bar {
    h2 {
      margin-bottom: 20px;
      span {
        font-size: 100%;
        color: $darkGrey;
        font-weight: normal;
      }
    }
  }
}

.checkbox-label {
  display: inline-block;
  color: $grey;
  margin-right: 20px;
}

@media (max-width: 576px) {
  select {
    margin-bottom: 0px;
  }

  .new-form p {
    margin-top: 20px;
  }
  .no-label-above {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.ng-message-error {
  p {
    margin-top: 0;
    font-size: 12px;
    color: $red;
  }
}
