form {
  text-align: center;
  label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
  }
}

input {
  margin:0;
  // margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  display: block;
  width: 100%;
  background: $lightGrey;
  border: none;
  border-bottom: solid 2px $lightGrey;
  @include trans(0.3s);
  &[type="submit"] {
    padding: 15px;
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $darkRed;
    }
  }
  &:focus {
    outline: none;
    border-bottom: solid 2px $red;
  }
}

select {
  width: 100%;
  padding: 12px;
  border: none;
  -webkit-border-radius: 0px 0px 0px 0px!important;
  border-radius: 0!important;
  border-bottom: solid 2px $lightGrey;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url(https://d30y9cdsu7xlg0.cloudfront.net/png/242277-200.png) no-repeat 96% 0;
  background-size: 20px;
  background-position: 90% 50%;
  background-color: $lightGrey;
  &:focus {
    outline: none;
  }
  &:before {
    background: $lightGrey;
  }
}

.no-label-above {
  margin-top: 28px;
}

.form-options {
  font-size: 14px;
  padding: 13px 0;
}

.new-form {
  .chosen-address:hover {
    cursor: not-allowed;
  }
}
