main {
  @include trans(0.3s);
  min-height: 80vh;
  .home-div {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.title-row {
  padding: 30px 0;
  h1 {
    padding: 7px 0px;
  }
  div:last-child {
    text-align: right;
  }
}

.header-row { // header and search bar in CLIENT INDEX && BAR INDEX
  .filter-bar {
    margin: 0 20px;
    margin-top: -60px;
    padding: 20px 25px 0 20px;
    background: $lightGrey;
    div.row:first-child {
      margin-bottom: 10px;
      div:last-child {
        text-align: right;
        span {
          color: $red;
        }
      }
    }
    input {
      background: $white;
    }
  }
}

hr {
  margin-top: 0;
}
