main {
  @include trans(0.3s);
  min-height: 80vh;
  .home-div {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.title-row {
  padding: 30px 0;
  h1, h2 {
    padding: 7px 0px;
  }
  div:last-child {
    text-align: right;
  }
}

.header-row { // header and search bar in CLIENT INDEX && BAR INDEX
  .filter-bar {
    margin: 0 20px;
    margin-top: -60px;
    padding: 20px 25px 0 20px;
    background: $lightGrey;
    div.row:first-child {
      margin-bottom: 10px;
      div:last-child {
        text-align: right;
        span {
          color: $red;
        }
      }
    }
    input {
      background: $white;
    }
  }
}

hr {
  margin-top: 0;
}

.bar-show-page {
  hr {
    margin-top: 20px;
  }
  ul {
    margin-top: 20px;
  }
  .opts-title {
    margin-bottom: 20px;
  }
}

p.indirizzo {
  background: $lightGrey;
  color: $darkGrey;
  padding: 15px;
}

.details {
  div.row {
    h3 {
      margin-bottom: 10px;
      text-transform: none;
    }
    p {
      min-height: 48px;
      margin: 10px 0;
      padding: 15px;
      background: $lightGrey;
      color: $darkGrey;
    }
  }
  .divider, div.row .divider {
    p {
      min-height: initial;
      margin-bottom: 20px;
      margin-top: 40px;
      text-align: left;
      font-size: 20px;
      text-transform: uppercase;
      color: $darkGrey;
      background: none;
      padding: 0;
    }
    span {
      font-size: 150%;
      color: $red;
      font-weight: bold;
    }
  }
}
