ul {
  list-style-type: none;
  padding-left: 0;
}

.grid-list {
  margin-top: 30px;
  li {
    margin-bottom: 20px;
    div {

      @include trans(0.3s);
      
      &:hover {
        cursor: pointer;
        h2 {
          color: $red;
        }
      }
      
      &.content {
        padding: 20px;
        border-bottom: solid 4px $red;
        background: $lightGrey;
        h2 {
          margin-bottom: 20px;
          height: 50px;
        }
        p {
          display: inline-block;
          padding: 7px;
          font-size: 16px;
          color: $white;
          background: $red;
          &:last-child {
            margin-top: 10px;
            background: $grey;
          }
          &.client-tags {
            display: block;
            min-height: 50px;
            line-height: 18px;
          }
        }
      }
      
      &.archivedmarker {
        opacity: 0.6;
        border-color: $darkGrey;
      }

      &.bar-img-div-container {
        width: 100px;
        text-align: center;
        font-size: 12px;
        padding: 10px;
      }
      
      &.bar-img-div {
        height: 70px;
        border-bottom: none;
        @include backgroundImagePosition;
        background-size: contain;
      }
      
      &.hover-effect {
        margin: 10px 0;
        &:hover {
          box-shadow: 0px 0px 10px $grey;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  p.seenbar-small {
    margin-top: 0px!important;
  }
  h3.seenbar-small {
    padding: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .grid-list li div.content h2 {
    height: 90px;
    margin-bottom: 0px;
  }
}
