ul {
  list-style-type: none;
  padding-left: 0;
}

.grid-list {
  margin-top: 30px;
  li {
    margin-bottom: 20px;
    div {
      @include trans(0.3s);
      &:hover {
        cursor: pointer;
        h2 {
          color: $red;
        }
      }
      &.content {
        padding: 20px;
        border-bottom: solid 4px $red;
        background: $lightGrey;
        h2 {
          margin-bottom: 20px;
          height: 50px;
        }
        p {
          display: inline-block;
          padding: 7px;
          font-size: 16px;
          color: $white;
          background: $red;
          &:last-child {
            margin-top: 10px;
            background: $grey;
          }
        }
      }
      &.archivedmarker {
        opacity: 0.6;
        border-color: $darkGrey;
      }
      &.bar-img-div {
        height: 100px;
        border-bottom: none;
        @include backgroundImagePosition;
      }
      &.hover-effect {
        margin: 10px 0;
        &:hover {
          box-shadow: 0px 0px 10px $grey;
        }
      }
    }
  }
}
