.info-window {
  a {
    h3 {
      margin: 5px 0;
      font-weight: bold;
      &:hover {
        color: $red;
      }
    }
    &.maps-link {
      display: inline-block;
      background: $red;
      color: $white;
      padding: 5px;
      border-radius: 3px;
      &:hover {
        background: $darkRed;
      }
      i {
        font-size: 10px;
        vertical-align: super;
      }
    }
  }
  p {
    margin: 5px 0;
  }
}
