.messages {
  p {
    position: fixed;
    width: 90%;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    &.danger {
      background: $red;
    }
    &.warning {
      background: $gold;
      color: $darkGrey;
    }
    &.success {
      background: $green;
    }
  }
}

.success {
  background: $green!important;
}
i.normal-width {
  width: auto!important;
}
