.modal-shadow {
  background: rgba(0,0,0, 0.6);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.new-form {
  .modal-div {
    z-index: 1;
    top: 100px;
    position: fixed;
    padding: 20px;
    padding-top: 30px;
    background: $red;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    h2 {
      text-transform: uppercase;
    }
    h2, label {
      color: $white
    }
    .row {
      margin-bottom: 30px;
      div:last-child {
        text-align: right;
        a {
          display: inline-block;
          padding: 3px 7px;
          background: $lightGrey;
        }
      }
    }
    input:focus {
      border-bottom-color: $darkRed;
    }
    input[type="submit"] {
      background: $lightGrey;
      color: $red;
      &:hover {
        background: $darkRed;
        color: $white;
      }
    }
    &.choose-address {
      margin-top: 0;
      padding: 30px;
      background: $white;
      border: solid 2px $grey;
      text-align: left;
      p {
        display: inline-block;
        padding: 3px 3px 6px 3px;
        background: $red;
        color: white;
        line-height: 0.6;
        &:hover {
          cursor: pointer;
          background: $darkRed;
        }
      }
      li:hover {
        cursor: pointer;
        color: $red;
      }
    }
  }
}
