body {
  font-family: $bodyFont;
  color: $grey;
  font-size: 18px;
}

h1, h2, h3, label, input {
  color: $darkGrey;
  @include trans(0.3s);
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

a.logo {
  color: $red;
}

nav {
  font-size: 20px;
}

.sub-nav {
  font-size: 15px;
}
