<h1>Client Edit</h1>

<form ng-submit="client.clientEdit()">
  <div class="page">
    <div>
      <label for="nome">Nome</label>
      <input type="text" name="nome" ng-model="client.client.nome">
      <label for="cognome">Cognome</label>
      <input type="text" name="cognome" ng-model="client.client.cognome">
    </div>
    <div>
      <label for="telefono">Numero Di Telefono</label>
      <input type="text" name="telefono" id="telefono" ng-model="client.client.telefono">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" ng-model="client.client.email">
    </div>
  </div>
  <div class="page">
    <div class="">
      <label>Indirizzo</label>
      <input type="text" id="searchAddress" value="{{ client.client.indirizzo.addressFormatted }}">
      <button type="button" name="button" id="searchBtn" ng-click="client.searchAddress()">Cerca</button>
      <div ng-show="client.results">
        <h3>Scegli il nuovo indirizzo</h3>
        <ul ng-repeat="result in client.results track by $index">
          <li ng-click="client.chooseAddress($index)">{{ result.formatted_address }}</li>
        </ul>
      </div>
      <div ng-show="client.location">
        <p>Nuovo Indirizzo: {{ client.location.addressFormatted }}</p>
      </div>
    </div>
  </div>
  <div class="page">
    <div>
      <label for="sab">Sab</label>
      <input type="text" name="sab" id="sab" ng-model="client.client.sab">
    </div>
    <div>
      <label for="tipologiaAttivita">Tipologia</label>
      <select name="tipologiaAttivita" id="tipologiaAttivita"
      ng-options="option.name for option in client.types track by option.id"
      ng-model="client.client.tipologiaAttivita"></select>
    </div>
    <div>
      <label for="zona">Zona</label>
      <select name="zona" id="zona"
      ng-options="option.name for option in client.zones track by option.id"
      ng-model="client.client.zona"></select>
    </div>
    <h3>Importo Investimento</h3>
    <div>
      <label for="anticipo">Anticipo</label>
      <input type="number" name="anticipo" ng-model="client.client.importoInvestimento.anticipo">
    </div>
    <div>
      <label for="totale">Totale</label>
      <input type="number" name="totale" ng-model="client.client.importoInvestimento.totale">
    </div>
    <div>
      <label for="esperienza">Esperienza</label>
      <input type="text" name="esperienza" ng-model="client.client.esperienza">
    </div>
    <div>
      <label for="note">Note</label>
      <textarea name="note" rows="3" ng-model="client.client.note"></textarea>
    </div>
  </div>
  <input type="submit" value="AGGIUNGI CLIENTE">
</form>
