<section class="container" style="background: yellow;">
  <div class="row title-row">
    <div class="col-md-6">
      <h1>LISTA CLIENTI</h1>
    </div>
    <div class="col-md-6">
      <a class="nav-btn" ui-sref="clientNew">Aggiungi un nuovo cliente</a>
    </div>
  </div>
  <div class="search-bar">
    <div class="header-img"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Filtra:</h2>
        </div>
        <div class="col-sm-6">
          <a ng-click="clients.clearSearch()">Svota la ricerca <span></span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <input type="search" ng-model="clients.q" placeholder="Nome del cliente">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="clients.cognome" placeholder="Cognome del cliente">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="clients.zona" placeholder="Zona">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="clients.tipologiaAttivita" placeholder="Tipologia attivita">
        </div>
      </div>
    </div>
  </div>
  <ul class="row grid-list">
    <li class="col-md-3" ng-repeat="client in clients.filtered">
      <div style="background: pink;">
        <a ui-sref="clientShow({ id: client.id })">{{ client.nome }} {{ client.cognome }}</a>
        <p>{{ client.tipologiaAttivita.name }}</p>
        <p>{{ client.zona.name }}</p>
      </div>
    </li>
  </ul>
</section>
