<section class="container client-show-page show-pages">
  <!-- DETTAGLI CLIENTE -->
  <div class="copied-to-clipboard" ng-show="client.copySuccessful">
    <h2><i class="fa fa-check" aria-hidden="true"></i></h2>
    <h2>Copied to clipboard</h2>
  </div>
  <div class="row client-details">
    <div class="col-xs-12 edges">
      <h2>Profile cliente</h2>
    </div>
  </div>
  <section class="row client-details" style="margin-bottom: 20px;">
    <div class="col-md-6 edges">
      <div class="right-side">
        <h1>{{ client.client.nome }} {{ client.client.cognome}}</h1>
        <div class="link">
          <a href="tel:{{ client.client.telefono }}"><i class="fa fa-phone" aria-hidden="true"></i> {{ client.client.telefono }}</a><span ng-show="!client.client.telefono">No telefono</span>
        </div>
        <div class="link">
          <a class="copy-email" href="mailto:gianni@gianni.com"><i class="fa fa-envelope" aria-hidden="true"></i> {{ client.client.email }}
          </a><span ng-show="!client.client.email">No email</span>
        </div>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ client.client.indirizzo.addressFormatted }} <span ng-show="!client.client.indirizzo.addressFormatted">No indirizzo</span></p>
      </div>
    </div>
    <div class="col-md-6 edges">
      <article class="no-map-present" ng-hide="client.client.indirizzo">
        <p>Non esiste un valido indirizzo per questo cliente</p>
      </article>
      <street-map center="client.center" style="height: 300px;" ng-show="client.client.indirizzo"></street-map>
    </div>
  </section>
  <section>
    <h2><i class="fa fa-address-card-o" aria-hidden="true"></i> Che cosa cerca</h2>
    <div class="details">
      <div class="divider">
        <p>Zona e tipologia</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3>Tipologia</h3>
          <p>{{ client.client.tipologiaAttivita.name }}</p>
        </div>
        <div class="col-sm-6">
          <h3>Zona</h3>
          <p>{{ client.client.zona.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="divider">
            <p>Importo investimento</p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h3>Anticipo</h3>
              <p>{{ client.client.importoInvestimento.anticipo }}</p>
            </div>
            <div class="col-sm-6">
              <div class="detail-section">
                <h3>Totale</h3>
                <p>{{ client.client.importoInvestimento.totale }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="divider">
            <p>Altre informazioni</p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h3>Sab</h3>
              <p>{{ client.client.sab }}</p>
            </div>
            <div class="col-sm-6">
              <div class="detail-section">
                <h3>Esperienza</h3>
                <p>{{ client.client.esperienza }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <h2><i class="fa fa-eye" aria-hidden="true"></i> Attivita Viste <small>in ordine di data</small></h2>
    <ul class="row grid-list">
      <li class="col-md-3" ng-repeat="seenBar in client.client.attivitaViste | orderBy:client.orderBy:true" ui-sref="seenBarShow({ id: client.client.id, barId: seenBar._id })">
        <div class="hover-effect">
          <div class="bar-img-div" style="background-image: url('{{ seenBar.bar.fotoAttivita }}');" ng-if="!main.isSmall"></div>
          <div class="content seenbar-item" ng-class="{ archivedmarker : seenBar.bar.archiviato }">
            <div class="row">
              <div class="col-xs-6 col-md-12">
                <h3  ng-class="{ 'seenbar-small': main.isSmall }">{{ seenBar.bar.denominazioneAttivita }}, {{ seenBar.bar.codiceAttivita }}</h3>
              </div>
              <div class="col-xs-6 col-md-12">
                <p ng-class="{ 'seenbar-small': main.isSmall }">Data: {{ seenBar.data | date : mediumDate }}</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12" ng-hide="client.client.attivitaViste.length > 0">
        <p>{{ client.client.nome }} non ha ancora visto nemmeno un'attivita!</p>
      </li>
    </ul>
    <a class="nav-btn options-btn" ui-sref="seenBarNew({ id: client.client.id })">Aggiungi un'attivita vista</a>
  </section>
  <hr>
  <section>
    <h2><i class="fa fa-users" aria-hidden="true"></i> Attivita Potenziali</h2>
    <ul class="row grid-list">
      <li class="col-md-3" ng-repeat="filteredBar in client.filteredBars">
        <div class="hover-effect" ui-sref="barShow({ id: filteredBar.id })">
          <div class="bar-img-div" style="background-image: url('{{ filteredBar.fotoAttivita }}');" ng-if="!main.isSmall"></div>
          <div class="content">
            <div class="row">
              <div class="col-xs-6 col-md-12">
                <h2>{{ filteredBar.denominazioneAttivita }}, {{ filteredBar.codiceAttivita }}</h2>
              </div>
              <div class="col-xs-6 col-md-12">
                <p>{{ filteredBar.zona.name }}</p><br>
                <p>{{ filteredBar.tipologiaAttivita.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-md-3 col-sm-4 no-results" ng-show="client.filteredBars.length === 0">Nessun risultato</li>
    </ul>
  </section>
  <hr>
  <section class="comments">
    <h2 style="margin-bottom: 20px;"><i class="fa fa-comments-o" aria-hidden="true"></i> Note</h2>
    <ul>
      <li ng-repeat="comment in client.client.comments" class="row">
        <div class="col-xs-3 col-sm-2 col-md-1">
          <profile-picture class="profile-photo" ng-class="{ davide: comment.createdBy.username === 'davide', mauri: comment.createdBy.username === 'mauri', faldella: comment.createdBy.username === 'faldella' }"></profile-picture>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11">
          <p class="smaller">{{ comment.createdAt | date : "yyyy MMM dd 'alle' HH:mm" : '+0100' }}</p>
          <p><span class="commentator">{{ comment.createdBy.username }}</span> dice:</p>
          <div>
            <p class="speech-bubble">
              {{ comment.body }}
            </p>
            <p class="delete-comment">
              <a class="smaller" ng-if="comment.createdBy.id === main.user.id" ng-click="client.deleteComment(comment)"><i class="fa fa-trash-o" aria-hidden="true"></i> ELIMINA</a>
            </p>
          </div>
        </div>
      </li>
      <li ng-hide="client.client.comments.length > 0">Non ci sono note al momento</li>
    </ul>
    <h3>Aggiungi una nota:</h3>
    <form name="client.commentForm" ng-submit="client.addComment()" novalidate>
      <textarea name="body" rows="3" ng-model="client.comment.body" required></textarea>
      <div
        class="ng-message-error"
        ng-messages="client.commentForm.body.$error"
        ng-show="client.commentForm.$submitted && client.commentForm.body.$invalid && client.commentForm.$pristine || client.commentForm.body.$invalid && !client.commentForm.$pristine"
        role="alert">
        <p ng-message="required">* Inserisci un commento prima</p>
      </div>
      <input type="submit" value="AGGIUNGI UNA NOTA">
    </form>
  </section>
  <hr>
  <h2 class="opts-title"><i class="fa fa-cog" aria-hidden="true"></i> Opzioni</h2>
  <div class="row">
    <div class="col-sm-6">
      <a class="nav-btn options-btn" ui-sref="clientEdit({ id: client.client.id })">Modifica dettagli</a>
    </div>
    <div class="col-sm-6">
      <a class="nav-btn options-btn" ng-hide="client.client.archiviato" ng-click="client.archive('aggiungi')">Archivia</a>
      <a class="nav-btn options-btn" ng-show="client.client.archiviato" ng-click="client.archive('rimuovi')">Rimuovi dall'archivio</a>
    </div>
  </div>
</section>
