<section class="container">
  <div class="row title-row">
    <div class="col-md-6">
      <h1>LISTA CLIENTI</h1>
    </div>
    <div class="col-md-6">
      <a class="nav-btn" ui-sref="clientNew">Aggiungi un nuovo cliente</a>
    </div>
  </div>
  <div class="header-row">
    <div class="header-img"></div>
    <div class="filter-bar">
      <div class="row">
        <div class="col-sm-6">
          <h2>Filtra i clienti:</h2>
        </div>
        <div class="col-sm-6">
          <a ng-click="clients.clearSearch()" ng-show="clients.searching">Svuota la ricerca <span>x</span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <input type="search" ng-model="clients.q" placeholder="Nome del cliente">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="clients.cognome" placeholder="Cognome del cliente">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="clients.zona" placeholder="Zona">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="clients.tipologiaAttivita" placeholder="Tipologia attivita">
        </div>
      </div>
    </div>
  </div>
  <ul class="row grid-list">
    <li class="col-md-3" ng-repeat="client in clients.filtered">
      <div class="hover-effect" ui-sref="clientShow({ id: client.id })">
        <div class="content">
          <h2>
            {{ client.nome }}<br>
            {{ client.cognome }}
          </h2>
          <p>{{ client.tipologiaAttivita.name }}</p>
          <p>{{ client.zona.name }}</p>
        </div>
      </div>
    </li>
    <li ng-show="clients.filtered.length === 0" class="no-results">Nessun risultato</li>
  </ul>
</section>
