<section class="container">
  <div class="row title-row">
    <div class="col-sm-6">
      <h1>LISTA CLIENTI</h1>
    </div>
    <div class="col-sm-6">
      <a class="nav-btn responsive-btn" ui-sref="clientNew">Aggiungi un nuovo cliente</a>
    </div>
  </div>
  <div class="header-row">
    <div class="header-img"></div>
    <div class="filter-bar" ng-hide="clients.clients.length === 0">
      <div class="row">
        <div class="col-sm-6">
          <h2 ng-click="clients.expandFilters()" ng-class="{ filter: !clients.showingFilters }">Filtra i clienti</h2>
        </div>
        <div class="col-sm-6">
          <a ng-click="clients.clearSearch()" ng-show="clients.searching">Svuota la ricerca <span>x</span></a>
        </div>
      </div>
      <div class="row" ng-show="clients.showingFilters">
        <div class="col-md-3">
          <input type="search" ng-model="clients.q" placeholder="Nome del cliente">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="clients.cognome" placeholder="Cognome del cliente">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="clients.zona" placeholder="Zona">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="clients.tipologiaAttivita" placeholder="Tipologia attivita">
        </div>
      </div>
    </div>
  </div>
  <ul class="row grid-list">
    <li class="col-sm-6 col-md-4 col-lg-3" ng-repeat="client in clients.filtered">
      <div class="hover-effect" ui-sref="clientShow({ id: client.id })">
        <div class="content">
          <div class="row">
            <div class="col-xs-6 col-sm-12">
              <h2>
                {{ client.nome }}<br>
                {{ client.cognome }}
              </h2>
            </div>
            <div class="col-xs-6 col-sm-12">
              <p>{{ client.tipologiaAttivita.name }}</p><br>
              <p>{{ client.zona.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li ng-show="clients.filtered.length === 0" class="no-results col-xs-12">Nessun risultato</li>
  </ul>
</section>
