.client-show-page {
  .filtered-bars {
    li {
      margin-bottom: 0;
    }

    .content {
      display: flex;

      
      p:last-child {
        margin-top: 0;
        display: block;
        background-color: transparent;
        color: $grey;
      }

      >div:first-child {
        width: 100px;
      }

      > div:nth-child(2) {
        margin: 0 20px;
        width: 150px
      }

      > div:nth-child(3) {
        width: calc(100% - 100px - 150px);
      }

      h2 {
        height: auto;
        margin-bottom: 0;
      }

      @media all and (max-width: 500px) {
        flex-wrap: wrap;

        > div:first-child,
        > div:nth-child(2) {
          width: auto;
          margin: 0;
        }

        >div:nth-child(3) {
          width: 100%;
        }
      }
    }

    .bar-img-container {
      width: 100px;
      text-align: center;

      img {
        height: 70px;
        width: auto;
        background-color: transparent;
      }
    }

  }
}