<form name="controller.barForm" ng-submit="controller.barSubmit()" novalidate>
  <div>
    <p><span>1.</span> Dettagli generali</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label for="codiceAttivita">Codice Attivita</label>
      <input type="text" name="codiceAttivita" id="codiceAttivita" ng-model="controller.bar.codiceAttivita" value="controller.bar.codiceAttivita" ng-change="controller.checkDuplicateCode()" required>
      <div
        class="ng-message-error"
        ng-messages="controller.barForm.codiceAttivita.$error"
        ng-show="controller.barForm.$submitted && controller.barForm.codiceAttivita.$invalid || controller.barForm.codiceAttivita.$invalid && controller.barForm.codiceAttivita.$touched && controller.inNew || controller.barForm.codiceAttivita.$invalid && !controller.inNew"
        role="alert">
        <p ng-message="required" ng-hide="controller.barForm.codiceAttivita.$error.unique === false">* Il codice dev'essere inserito</p>
        <p ng-message="required" ng-show="controller.barForm.codiceAttivita.$error.unique === false">* Questo codice e gia in uso</p>
      </div>
    </div>
    <div class="col-sm-6">
      <label for="denominazioneAttivita">Nome dell'attivita</label>
      <input type="text" name="denominazioneAttivita" id="denominazioneAttivita" ng-model="controller.bar.denominazioneAttivita" value="controller.bar.denominazioneAttivita" ng-disabled="controller.disabled">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <label ng-show="controller.inNew">Scegli una foto</label>
          <label ng-hide="controller.inNew">Foto del bar</label>
        </div>
        <div class="col-sm-6 choose-photo-arrows">
          <a ng-show="controller.inNew && controller.startCounter >= 1" ng-click="controller.changePhoto('prev')" class="change-photo-btn animate-this">
            <back-arrow class="arrow-in-form"></back-arrow> PREC
          </a>
          <a ng-show="controller.inNew && controller.startCounter < controller.photoArray.length - 1" ng-click="controller.changePhoto('next')" class="animate-this change-photo-btn">
            PROX <back-arrow class="flip-this arrow-in-form"></back-arrow>
          </a>
        </div>
      </div>
      <div class="bar-choose-photo-div" style="background-image: url('{{ controller.bar.fotoAttivita }}');"></div>
    </div>
    <div class="col-sm-6">
      <label for="addressFormatted">Indirizzo</label>
      <textarea name="addressFormatted" id="addressFormatted" ng-model="controller.location.addressFormatted" ng-disabled="controller.disabled">{{ controller.location.addressFormatted }}</textarea>
    </div>
  </div>
  <hr>
  <div>
    <p><span>2.</span> Zona e tipologia</p>
  </div>
  <div class="page row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6">
          <label for="tipologiaAttivita">Tipologia</label>
          <select name="tipologiaAttivita" id="tipologiaAttivita"
          ng-options="option.name for option in controller.types track by option.id"
          ng-model="controller.bar.tipologiaAttivita" required></select>
          <div
            class="ng-message-error"
            ng-messages="controller.barForm.tipologiaAttivita.$error"
            ng-show="controller.barForm.$submitted && controller.barForm.tipologiaAttivita.$invalid || controller.barForm.tipologiaAttivita.$invalid && controller.barForm.tipologiaAttivita.$touched && controller.inNew || controller.barForm.tipologiaAttivita.$invalid && !controller.inNew"
            role="alert">
            <p ng-message="required">* La tipologia dev'essere inserita</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-options no-label-above">
            <a ng-hide="!controller.bar.tipologiaAttivita || controller.bar.tipologiaAttivita.length === 0" ng-click="controller.clear('tipologiaAttivita')">Svuota casella</a>
            <a ng-click="controller.showForm('type')" ng-show="!controller.bar.tipologiaAttivita || controller.bar.tipologiaAttivita.length === 0">Aggiungi nuova tipologia</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6">
          <label for="zona">Zona</label>
          <select name="zona" id="zona"
          ng-options="option.name for option in controller.zones track by option.id"
          ng-model="controller.bar.zona" required></select>
          <div
            class="ng-message-error"
            ng-messages="controller.barForm.zona.$error"
            ng-show="controller.barForm.$submitted && controller.barForm.zona.$invalid || controller.barForm.zona.$invalid && controller.barForm.zona.$touched && controller.inNew || controller.barForm.zona.$invalid && !controller.inNew"
            role="alert">
            <p ng-message="required">* La zona dev'essere inserita</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-options no-label-above">
            <a ng-hide="!controller.bar.zona || controller.bar.zona.length === 0" ng-click="controller.clear('zona')">Svuota casella</a>
            <a ng-click="controller.showForm('zone')" ng-show="!controller.bar.zona || controller.bar.zona.length === 0">Aggiungi zona</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <p><span>3.</span> Dettagli attivita</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label for="titolareAttivita">Titolare Attivita</label>
      <input type="text" name="titolareAttivita" id="titolareAttivita" ng-model="controller.bar.titolareAttivita">
    </div>
    <div class="col-sm-4">
      <label for="referente">Referente</label>
      <input type="text" name="referente" id="referente" ng-model="controller.bar.referente">
    </div>
    <div class="col-sm-4">
      <label for="metriQuadrati">Metri Quadrati</label>
      <input type="text" name="metriQuadrati" id="metriQuadrati" ng-model="controller.bar.metriQuadrati">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div>
        <p><span>4.</span> Magazzino</p>
      </div>
      <div class="row" style="text-align: left;">
        <div class="col-sm-5">
          <label for="presente">Presente</label>
          <div class="no-label-radio">
            <input type="radio" ng-model="controller.bar.magazzino.presente" value="si"><label class="checkbox-label">Si</label>
            <input type="radio" ng-model="controller.bar.magazzino.presente" value="no"><label class="checkbox-label">No</label>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="no-label-above no-label-radio" style="margin-bottom: 17px;">
            <input type="radio" ng-model="controller.bar.magazzino.internoEsterno" value="interno"><label class="checkbox-label">Interno</label>
            <input type="radio" ng-model="controller.bar.magazzino.internoEsterno" value="esterno"><label class="checkbox-label">Esterno</label>
            <i ng-show="controller.bar.magazzino.internoEsterno" class="fa fa-times-circle" aria-hidden="true" ng-click="controller.clear('magazzino.internoEsterno')"></i>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-md-6">
      <div>
        <p><span>5.</span> Richiesta totale</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="contanti">Contanti</label>
          <input type="text" name="contanti" id="contanti" ng-model="controller.bar.richiestaTotale.contanti" required>

          <div
            class="ng-message-error"
            ng-messages="controller.barForm.contanti.$error"
            ng-show="controller.barForm.$submitted && controller.barForm.contanti.$invalid || controller.barForm.contanti.$invalid && controller.barForm.contanti.$touched && controller.inNew || controller.barForm.contanti.$invalid && !controller.inNew"
            role="alert">
            <p ng-message="required">* La richiesta totale dev'essere inserita</p>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="dilazioni">Dilazioni</label>
          <input type="text" name="dilazioni" id="dilazioni" ng-model="controller.bar.richiestaTotale.dilazioni">
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <p><span>6.</span> Incasso giornaliero</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="minimo">Minimo</label>
          <input type="text" name="minimo" ng-model="controller.bar.incassoGiornaliero.minimo">
        </div>
        <div class="col-md-6">
          <label for="massimo">Massimo</label>
          <input type="text" name="massimo" ng-model="controller.bar.incassoGiornaliero.massimo">
        </div>
      </div>
      <hr>
    </div>
    <div class="col-sm-6">
      <div>
        <p><span>7.</span> Incasso annuale</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="minimo">Minimo</label>
          <input type="text" name="minimo" ng-model="controller.bar.incassoAnnuale.minimo">
        </div>
        <div class="col-md-6">
          <label for="massimo">Massimo</label>
          <input type="text" name="massimo" ng-model="controller.bar.incassoAnnuale.massimo">
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div>
    <p><span>8.</span> Canone Locazione</p>
  </div>
  <div class="row" style="text-align: left;">
    <div class="col-md-3 col-sm-6">
      <label for="iva">Iva</label>
      <div class="no-label-radio">
        <input type="radio" name="iva" ng-model="controller.bar.canoneLocazione.iva" value="si"><label class="checkbox-label">Si</label>
        <input type="radio" name="iva" ng-model="controller.bar.canoneLocazione.iva" value="no"><label class="checkbox-label">No</label>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <label for="scadenza">Scadenza</label>
      <input type="text" name="scadenza" ng-model="controller.bar.canoneLocazione.scadenza">
    </div>
    <div class="col-md-3 col-sm-6">
      <label for="depCauzionale">Deposito Cauzionale</label>
      <input type="text" name="depCauzionale" ng-model="controller.bar.canoneLocazione.depCauzionale">
    </div>
    <div class="col-md-3 col-sm-6">
      <label for="speseCondominio">Spese Condominio</label>
      <input type="text" name="speseCondominio" ng-model="controller.bar.canoneLocazione.speseCondominio">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div>
        <p><span>9.</span> Tassa Suolo Pubblico</p>
        <div>
          <label style="color: transparent;">x</label>
          <input type="text" name="tassaSuoloPubb" ng-model="controller.bar.tassaSuoloPubb">
        </div>
      </div>
      <hr>
    </div>
    <div class="col-md-6">
      <div>
        <p><span>10.</span> Torrefazione</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="torrefazione">Torrefazione</label>
          <input type="text" name="torrefazione" ng-model="controller.bar.torrefazione.torrefazione">
        </div>
        <div class="col-sm-6">
          <label for="consumoMensile">Consumo Mensile</label>
          <input type="text" name="consumoMensile" ng-model="controller.bar.torrefazione.consumoMensile">
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div>
    <p><span>11.</span> Ristrutturato</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <label for="ristrutturato">Ristrutturato</label>
          <input type="text" name="ristrutturato" ng-model="controller.bar.ristrutturato.ristrutturato">
        </div>
        <div class="col-sm-6">
          <div class="no-label-above no-label-radio">
          <input type="radio" name="vero" ng-model="controller.bar.ristrutturato.vero" value="si"><label class="checkbox-label">Si</label>
          <input type="radio" name="vero" ng-model="controller.bar.ristrutturato.vero" value="no"><label class="checkbox-label">No</label>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <label for="impiantiCertificati">Impianti Certificati</label>
      <div class="no-label-radio">
        <input type="radio" name="vero" ng-model="controller.bar.ristrutturato.impiantiCertificati" value="si"><label class="checkbox-label">Si</label>
        <input type="radio" name="vero" ng-model="controller.bar.ristrutturato.impiantiCertificati" value="no"><label class="checkbox-label">No</label>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <p><span>12.</span> Aggi</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label for="aggiTotali">Aggi Totali</label>
      <input type="text" name="aggiTotali" ng-model="controller.bar.aggi.aggiTotali">
    </div>
    <div class="col-sm-4">
      <label for="tabacco">Tobacco</label>
      <input type="text" name="tabacco" ng-model="controller.bar.aggi.tabacco">
    </div>
    <div class="col-sm-4">
      <label for="lotto">Lotto</label>
      <input type="text" name="lotto" ng-model="controller.bar.aggi.lotto">
    </div>
    <div class="col-sm-4">
      <label for="sisal">Sisal</label>
      <input type="text" name="sisal" ng-model="controller.bar.aggi.sisal">
    </div>
    <div class="col-sm-4">
      <label for="giochi">Giochi</label>
      <input type="text" name="giochi" ng-model="controller.bar.aggi.giochi">
    </div>
    <div class="col-sm-4">
      <label for="varie">Varie</label>
      <input type="text" name="varie" ng-model="controller.bar.aggi.varie">
    </div>
  </div>
  <hr>
  <div>
    <p><span>13.</span> Slot</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label for="slot">Numero Slot</label>
      <input type="text" name="slot" ng-model="controller.bar.slot.slot">
    </div>
    <div class="col-sm-4">
      <label for="ditta">Ditta</label>
      <input type="text" name="ditta" ng-model="controller.bar.slot.ditta">
    </div>
    <div class="col-sm-4">
      <label for="percentuale">Percentuale</label>
      <input type="text" name="percentuale" ng-model="controller.bar.slot.percentuale">
    </div>
  </div>
  <hr>
  <div>
    <p><span>14.</span> Commercialista</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label for="nome">Nome</label>
      <input type="text" name="nome" ng-model="controller.bar.commercialista.nome">
    </div>
    <div class="col-sm-4">
      <label for="telefono">Numbero di Telefono</label>
      <input type="text" name="telefono" ng-model="controller.bar.commercialista.telefono">
    </div>
    <div class="col-sm-4">
      <label for="email">Email</label>
      <input type="email" name="email" ng-model="controller.bar.commercialista.email">
    </div>
  </div>
  <hr>
  <div>
    <p><span>15.</span> Affitto Azienda</p>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <label for="affittoAzienda">Affitto Azienda</label>
      <div class="no-label-radio">
        <input type="radio" name="affittoAzienda" ng-model="controller.bar.affittoAzienda.affittoAzienda" value="si"><label class="checkbox-label">Si</label>
        <input type="radio" name="affittoAzienda" ng-model="controller.bar.affittoAzienda.affittoAzienda" value="no"><label class="checkbox-label">No</label>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <label for="importo">Importo Affitto Azienda</label>
      <input type="text" name="importo" ng-model="controller.bar.affittoAzienda.importo">
    </div>
    <div class="col-md-4 col-sm-4">
      <label for="garanzie">Garanzie</label>
      <input type="text" name="garanzie" ng-model="controller.bar.affittoAzienda.garanzie">
    </div>
  </div>
  <hr>
  <div>
    <p><span>16.</span> Orari</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label for="orarioApertura">Orario Apertura</label>
      <input type="text" name="orarioApertura" ng-model="controller.bar.orarioApertura">
    </div>
    <div class="col-sm-6">
      <label for="giornoRiposo">Giorno Riposo</label>
      <input type="text" name="giornoRiposo" ng-model="controller.bar.giornoRiposo">
    </div>
  </div>
  <hr>
  <div>
    <p><span>17.</span> Posti</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label for="postiInterni">Posti Interni</label>
      <input type="text" name="postiInterni" ng-model="controller.bar.postiInterni">
    </div>
    <div class="col-sm-4">
      <label for="postiEsterni">Posti Esterni</label>
      <input type="text" name="postiEsterni" ng-model="controller.bar.postiEsterni.postiEsterni">
    </div>
    <div class="col-sm-4">
      <label for="areaPrivata">Area Privata</label>
      <div class="no-label-radio">
        <input type="radio" name="areaPrivata" ng-model="controller.bar.postiEsterni.areaPrivata" value="si"><label class="checkbox-label">Si</label>
        <input type="radio" name="areaPrivata" ng-model="controller.bar.postiEsterni.areaPrivata" value="no"><label class="checkbox-label">No</label>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <p><span>18.</span> Addetti</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label for="numeroTitolari">Numero Titolari</label>
      <input type="text" name="numeroTitolari" ngmodel="controller.bar.addetti.numeroTitolari">
    </div>
    <div class="col-sm-6">
      <label for="dipendenti">Dipendenti</label>
      <input type="text" name="dipendenti" ngmodel="controller.bar.addetti.dipendenti">
    </div>
  </div>
  <hr>
  <div>
    <p><span>19.</span> Altre informazioni</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label for="cannaFumaria">Canna Fumaria</label>
      <div class="no-label-radio">
        <input type="radio" name="cannaFumaria" ng-model="controller.bar.cannaFumaria" value="si"><label class="checkbox-label">Si</label>
        <input type="radio" name="cannaFumaria" ng-model="controller.bar.cannaFumaria" value="no"><label class="checkbox-label">No</label>
      </div>
    </div>
    <div class="col-sm-4">
      <label for="riservatoDominio">Riservato Dominio</label>
      <input type="text" name="riservatoDominio" ng-model="controller.bar.riservatoDominio">
    </div>
    <div class="col-sm-4">
      <label for="attrezzatureComodato">Attrezzature Comodato</label>
      <input type="text" name="attrezzatureComodato" ng-model="controller.bar.attrezzatureComodato">
    </div>
  </div>
  <p style="margin-top: 20px; text-align: center;">Potrai aggiungere commenti dopo aver creato l'attivita</p>
  <input ng-if="controller.inNew" type="submit" value="AGGIUNGI">
  <input ng-if="!controller.inNew" type="submit" value="MODIFICA">
</form>
