<h1>ARCHIVIO</h1>

<a ng-click="archive.toggleView('bars')" ng-class="{selected: archive.toggleBars}">Vedi i bar</a>
<a ng-click="archive.toggleView('clients')" ng-class="{selected: archive.toggleClients}">Vedi i clienti</a>

<div ng-show="archive.toggleClients">
  <h2>Clienti in Archivio</h2>
  <p ng-hide="archive.clientArchived[0]">Non ci sono ancora clienti in archivio</p>
  <ul class="row">
    <li class="col-md-4" ng-repeat="client in archive.clientArchived">
      <a ui-sref="clientShow({ id: client.id })">{{ client.nome }} {{ client.cognome }}</a>
      <p>{{ client.tipologiaAttivita.name }}</p>
      <p>{{ client.zona.name }}</p>
    </li>
  </ul>
</div>

<div ng-show="archive.toggleBars">
  <h2>Bar in Archivio</h2>
  <p ng-hide="archive.barArchived[0]">Non ci sono ancora bar in archivio</p>
  <ul class="row">
    <li class="col-md-4" ng-repeat="bar in archive.barArchived">
      <a ui-sref="barShow({ id: bar.id })">{{ bar.denominazioneAttivita }}</a>
      <p>{{ bar.tipologiaAttivita.name }}</p>
      <p>{{ bar.zona.name }}</p>
    </li>
  </ul>
</div>
