<section class="container new-form">
  <ng-include src="'/js/views/partials/modals/_type-new.html'"></ng-include>
  <ng-include src="'/js/views/partials/modals/_zone-new.html'"></ng-include>

  <div class="title-row">
    <h1>Aggiungi un nuovo bar</h1>
  </div>

  <div class="ng-message-error" ng-show="bar.barForm.$submitted && bar.barForm.$invalid">
    <p>Completa i seguenti campi per poter creare questo bar:
      <span ng-repeat="error in bar.barForm.$error.required track by $index">
        {{ error.$name | capitalise }}
        <span ng-show="$index !== (bar.barForm.$error.required.length - 1)">, </span>
      </span>
    </p>
  </div>

  <div class="search-bar">
    <div class="">
      <h2><span ng-hide="bar.location">Come prima cosa, trova il bar:</span><span ng-show="bar.location">Bar selezionato:</span></h2>
      <google-place></google-place>
    </div>
  </div>

  <div ng-show="bar.location">
    <bars-forms controller="bar"></bars-forms>
  </div>
</section>
