<section class="container show-pages">
  <div class="title-row align-items-center">
    <h1>{{ bar.bar.denominazioneAttivita }} <span ng-show="bar.bar.archiviato"><small>(Archiviato)</small></span></h1>
    <h2>Codice <span>{{ bar.bar.codiceAttivita }}</span></h2>
  </div>

  <!-- DETTAGLI ATTIVITA -->
  <section class="row">
    <div class="col-md-6">
      <div class="bar-img" style="background-image: url('{{ bar.bar.fotoAttivita }}');"></div>
    </div>
    <div class="col-md-6">
      <street-map class="details-map" center="bar.center"></street-map>
      <p class="indirizzo" id="indirizzo"></p>
    </div>
  </section>
  <hr>
  <div class="row pointer" ng-click="bar.expandDetails()">
    <div class="col-xs-6">
      <h2>
        <span><i class="fa fa-address-card-o" aria-hidden="true"></i> </span>
        <span ng-hide="bar.expandedDetails">Mostra dettagli</span>
        <span ng-show="bar.expandedDetails">Nascondi dettagli</span>
      </h2>
    </div>
    <div class="col-xs-6" style="text-align: right;">
      <h2>
        <span class="expand" ng-hide="bar.expandedDetails">+</span>
        <span class="unexpand" ng-show="bar.expandedDetails">-</span>
      </h2>
    </div>
  </div>
  <section class="details" ng-show="bar.expandedDetails">
    <div class="divider">
      <p><span>1.</span> Zona e tipologia</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Tipologia</h3>
        <p>{{ bar.bar.tipologiaAttivita.name }}</p>
      </div>
      <div class="col-sm-6">
        <h3>Zona</h3>
        <p>{{ bar.bar.zona.name }}</p>
      </div>
    </div>
    <div class="divider">
      <p><span>2.</span> Dettagli generali</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Titolare</h3>
        <p>{{ bar.bar.titolareAttivita }}</p>
      </div>
      <div class="col-sm-4">
        <div class="detail-section">
          <h3>Referente</h3>
          <p>{{ bar.bar.referente }}</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="detail-section">
          <h3>Metri quadrati</h3>
          <p>{{ bar.bar.metriQuadrati }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="divider">
          <p><span>3.</span> Magazzino</p>
        </div>
        <div class="detail-section">
          <h3>Presente</h3>
          <p>
            <span ng-if="bar.bar.magazzino.presente">{{ bar.bar.magazzino.presente | capitalise }}</span>
            <span ng-show="bar.bar.magazzino.internoEsterno">, </span>
            <span>{{ bar.bar.magazzino.internoEsterno }}</span>
          </p>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="divider">
          <p><span>4.</span> Richiesta totale</p>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h3>Contanti</h3>
            <p>{{ bar.bar.richiestaTotale.contanti }}</p>
          </div>
          <div class="col-sm-6">
            <h3>Dilazioni</h3>
            <p>{{ bar.bar.richiestaTotale.dilazioni }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="divider">
          <p><span>5.</span> Incasso giornaliero</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>Minimo</h3>
            <p>{{ bar.bar.incassoGiornaliero.minimo }}</p>
          </div>
          <div class="col-md-6">
            <h3>Massimo</h3>
            <p>{{ bar.bar.incassoGiornaliero.massimo }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="divider">
          <p><span>6.</span> Incasso annuale</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>Minimo</h3>
            <p>{{ bar.bar.incassoAnnuale.minimo }}</p>
          </div>
          <div class="col-md-6">
            <h3>Massimo</h3>
            <p>{{ bar.bar.incassoAnnuale.massimo }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
      <p><span>7.</span> Canone locazione</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h3>IVA</h3>
        <p>{{ bar.bar.canoneLocazione.iva }}</p>
      </div>
      <div class="col-md-3">
        <h3>Scadenza</h3>
        <p>{{ bar.bar.canoneLocazione.scadenza }}</p>
      </div>
      <div class="col-md-3">
        <h3>Deposito cauzionale</h3>
        <p>{{ bar.bar.canoneLocazione.depCauzionale }}</p>
      </div>
      <div class="col-md-3">
        <h3>Spese condominio</h3>
        <p>{{ bar.bar.canoneLocazione.speseCondominio }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="divider">
          <p><span>8.</span> Tassa suolo pubblico</p>
        </div>
        <h3 style="color: white;">Tassa suolo pubblico</h3>
        <p>{{ bar.bar.tassaSuoloPubb }}</p>
      </div>
      <div class="col-sm-6">
        <div class="divider">
          <p><span>9.</span> Torrefazione</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>Torrefazione</h3>
            <p>{{ bar.bar.torrefazione.torrefazione }}</p>
          </div>
          <div class="col-md-6">
            <h3>Consumo mensile</h3>
            <p>{{ bar.bar.torrefazione.consumoMensile }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
      <p><span>10.</span> Ristrutturato</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Ristrutturato</h3>
        <p>
          <span ng-if="bar.bar.ristrutturato.vero">{{ bar.bar.ristrutturato.vero | capitalise }}</span>
          <span ng-if="bar.bar.ristrutturato.vero === 'si' && bar.bar.ristrutturato.ristrutturato">, </span>
          {{ bar.bar.ristrutturato.ristrutturato }}</p>
      </div>
      <div class="col-sm-6">
        <h3>Impianti certificati</h3>
        <p>{{ bar.bar.ristrutturato.impiantiCertificati }}</p>
      </div>
    </div>
    <div class="divider">
      <p><span>11.</span> Aggi</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Aggi Totali</h3>
        <p>{{ bar.bar.aggi.aggiTotali }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Tabacco</h3>
        <p>{{ bar.bar.aggi.tabacco }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Lotto</h3>
        <p>{{ bar.bar.aggi.lotto }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Sisal</h3>
        <p>{{ bar.bar.aggi.sisal }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Giochi</h3>
        <p>{{ bar.bar.aggi.giochi }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Varie</h3>
        <p>{{ bar.bar.aggi.varie }}</p>
      </div>
    </div>
    <div class="divider">
      <p><span>12.</span> Slot</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Numero slot</h3>
        <p>{{ bar.bar.slot.slot }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Ditta</h3>
        <p>{{ bar.bar.slot.ditta }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Percentuale</h3>
        <p>{{ bar.bar.slot.percentuale }}</p>
      </div>
    </div>
    <div class="divider">
      <p><span>13.</span> Commercialista</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Nome</h3>
        <p>{{ bar.bar.commercialista.nome }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Telefono</h3>
        <p><a href="tel:{{ bar.bar.commercialista.telefono }}">{{ bar.bar.commercialista.telefono }}</a></p>
      </div>
      <div class="col-sm-4">
        <h3>Email</h3>
        <p><a href="mailto:{{ bar.bar.commercialista.email }}"></a>{{ bar.bar.commercialista.email }}</p>
      </div>
    </div>
    <div class="divider">
      <p><span>14.</span> Affitto azienda</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Ristrutturato</h3>
        <p>
          <span ng-if="bar.bar.affittoAzienda.affittoAzienda">{{ bar.bar.affittoAzienda.affittoAzienda | capitalise }}</span>
          <span ng-if="bar.bar.affittoAzienda.affittoAzienda === 'si' && bar.bar.affittoAzienda.importo">, </span>
          {{ bar.bar.affittoAzienda.importo }}</p>
      </div>
      <div class="col-sm-6">
        <h3>Garanzie</h3>
        <p>{{ bar.bar.affittoAzienda.garanzie }}</p>
      </div>
    </div>
    <div class="divider">
      <p><span>15.</span> Orari</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Orario apertura</h3>
        <p>{{ bar.bar.orarioApertura }}</p>
      </div>
      <div class="col-sm-6">
        <h3>Giorno di riposo</h3>
        <p>{{ bar.bar.giornoRiposo }}</p>
      </div>
    </div>
    <div class="divider">
      <p><span>16.</span> Posti</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Posti interni</h3>
        <p>{{ bar.bar.postiInterni }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Posti esterni</h3>
        <p>{{ bar.bar.postiEsterni.postiEsterni }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Area privata</h3>
        <p>{{ bar.bar.postiEsterni.areaPrivata }}</p>
      </div>
    </div>
    <div class="divider">
      <p><span>17.</span> Addetti</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Numero titolari</h3>
        <p>{{ bar.bar.addetti.numeroTitolari }}</p>
      </div>
      <div class="col-sm-6">
        <h3>Dipendenti</h3>
        <p>{{ bar.bar.addetti.dipendenti }}</p>
      </div>
    </div>
    <div class="divider">
      <p><span>18.</span> Altre informazioni</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Canna fumaria</h3>
        <p>{{ bar.bar.cannaFumaria }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Riservato dominio</h3>
        <p>{{ bar.bar.riservatoDominio }}</p>
      </div>
      <div class="col-sm-4">
        <h3>Attrezzature comodato</h3>
        <p>{{ bar.bar.attrezzatureComodato }}</p>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <h2><i class="fa fa-eye" aria-hidden="true"></i> Lista Clienti che hanno visto il bar</h2>
    <ul class="row grid-list">
      <li class="col-md-3" ng-repeat="client in bar.bar.clienti">
        <div class="hover-effect" ui-sref="clientShow({ id: client.id })">
          <div class="content">
              <h2>
                {{ client.nome }}<br>
                {{ client.cognome }}
              </h2>
          </div>
        </div>
      </li>
      <li class="col-xs-12" ng-hide="bar.bar.clienti.length > 0">Nessun cliente ha ancora visto questo bar</li>
    </ul>
  </section>
  <hr style="margin-top: 0px;">
  <section>
    <h2><i class="fa fa-users" aria-hidden="true"></i> Lista potenziali clienti</h2>
    <ul class="row grid-list">
      <li class="col-md-3" ng-repeat="potentialClient in bar.potentialClients">
        <div class="hover-effect" ui-sref="clientShow({id: potentialClient.id})">
          <div class="content">
            <div class="row">
              <div class="col-xs-6 col-md-12">
                <h2>
                  {{ potentialClient.nome }}<br>
                  {{ potentialClient.cognome }}
                </h2>
              </div>
              <div class="col-xs-6 col-md-12">
                <p>{{ potentialClient.tipologiaAttivita.name }}</p><br>
                <p>{{ potentialClient.zona.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-xs-12" ng-hide="bar.potentialClients.length > 0" style="margin-bottom: 0px;">Pare che non ci siano potenziali clienti per questo bar</li>
    </ul>
  </section>
  <hr>
  <section class="comments">
    <h2><i class="fa fa-comments-o" aria-hidden="true"></i> Note</h2>
    <ul>
      <li ng-repeat="comment in bar.bar.comments" class="row">
        <div class="col-xs-3 col-sm-2 col-md-1">
          <div class="profile-photo"></div>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11">
          <div class="row">
            <div class="col-sm-10">
              <p>{{ comment.createdAt | date : "yyyy MMM dd 'alle' HH:mm" : '+0100' }}</p>
              <p>{{ comment.createdBy.username }} dice:</p>
              <p>{{ comment.body }}</p>
            </div>
            <div class="col-sm-2">
              <a ng-if="comment.createdBy.id === main.user.id" ng-click="bar.deleteComment(comment)"><i class="fa fa-trash-o" aria-hidden="true"></i> ELIMINA</a>
            </div>
          </div>
        </div>
      </li>
      <li ng-hide="bar.bar.comments.length > 0">Non ci sono note al momento</li>
    </ul>
    <h3>Aggiungi una nota:</h3>
    <form name="bar.commentForm" ng-submit="bar.addComment()" novalidate>
      <textarea name="name" rows="3" ng-model="bar.comment.body" required></textarea>
      <div class="ng-message-error" ng-messages="bar.commentForm.name.$error" ng-show="bar.commentForm.$submitted && bar.commentForm.name.$invalid || bar.commentForm.name.$invalid && bar.commentForm.name.$touched" role="alert">
        <p ng-message="required">* Inserisci un commento prima</p>
      </div>
      <input type="submit" value="AGGIUNGI UNA NOTA">
    </form>
  </section>
  <hr>
  <h2 class="opts-title"><i class="fa fa-cog" aria-hidden="true"></i> Opzioni</h2>
  <div class="row">
    <div class="col-sm-6">
      <a class="nav-btn options-btn" ui-sref="barEdit({ id: bar.bar.id })">Modifica dettagli</a>
    </div>
    <div class="col-sm-6">
      <a class="nav-btn options-btn" ng-hide="bar.bar.archiviato" ng-click="bar.archive('aggiungi')">Archivia</a>
      <a class="nav-btn options-btn" ng-show="bar.bar.archiviato" ng-click="bar.archive('rimuovi')">Rimuovi dall'archivio</a>
    </div>
  </div>
</section>
