<section class="container bars-index">
  <div class="row title-row">
    <div class="col-sm-6">
      <h1>LISTA ATTIVITA</h1>
    </div>
    <div class="col-sm-6">
      <a class="nav-btn responsive-btn" ui-sref="barNew">Aggiungi un nuovo bar</a>
    </div>
  </div>
  <div class="header-row">
    <div class="header-img"></div>
    <div class="filter-bar" ng-hide="bars.bars.length === 0">
      <div class="row">
        <div class="col-sm-6">
          <h2 ng-click="bars.expandFilters()" ng-class="{ filter: !bars.showingFilters }">Filtra le attivita</h2>
        </div>
        <div class="col-sm-6">
          <a ng-click="bars.clearSearch()" ng-show="bars.searching">Svuota la ricerca <span>x</span></a>
        </div>
      </div>
      <div class="row animate-this" ng-show="bars.showingFilters">
        <div class="col-md-3">
          <input type="search" ng-model="bars.codiceAttivita" placeholder="Codice attivita">
        </div>
        <div class="col-md-3">
          <input type="search" ng-model="bars.q" placeholder="Nome dell'attivita">
        </div>
        <div class="col-md-3">
          <!-- <input type="search" ng-model="bars.zona" placeholder="Zona"> -->
          <div class="dropdown-container">
            <select
              name="zona"
              class="bar-dropdown dropdown-white"
              id="zona"
              ng-options="option.name for option in bars.zones track by option.id"
              ng-model="bars.zona"
              required></select>
            <span ng-hide="bars.zona" class="filter-dropdown-label">Zona</span>
          </div>
        </div>
        <div class="col-md-3">
          <!-- <input type="search" ng-model="bars.tipologiaAttivita" placeholder="Tipologia attivita"> -->
          <div class="dropdown-container">
            <select
              name="tipologiaAttivita"
              class="bar-dropdown dropdown-white"
              id="tipologiaAttivita"
              ng-options="option.name for option in bars.types track by option.id"
              ng-model="bars.tipologiaAttivita"
              required></select>
            <span ng-hide="bars.tipologiaAttivita" class="filter-dropdown-label">Tipo Attivita</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    
    <table class="bars-table table table-bordered table-hover table-sm">
      <thead>
        <tr class="bars-table-top">
          <th scope="col"
            ng-click="orderByField='codiceAttivita'; reverseSort = !reverseSort"
            ng-class="">
            <p class="bar-table-heading">
              Codice 
              <span class="chevron">
                <span ng-show="orderByField==='codiceAttivita'">
                  <ng-include src="'/js/views/partials/_table-sort-symbols.html'"></ng-include>
                </span>
              </span>
            </p>
          </th>
          <th scope="col"
            ng-click="orderByField='tipologiaAttivita.name'; reverseSort = !reverseSort">
            <p class="bar-table-heading">
              Tipologia
              <span class="chevron">
                <span ng-show="orderByField==='tipologiaAttivita.name'">
                  <ng-include src="'/js/views/partials/_table-sort-symbols.html'"></ng-include>
                </span>
              </span>
            </p>
          </th>
          <th scope="col"
            ng-click="orderByField='zona.name'; reverseSort = !reverseSort">
            <p class="bar-table-heading">
              Zona
              <span class="chevron">
                <span ng-show="orderByField==='zona.name'">
                  <ng-include src="'/js/views/partials/_table-sort-symbols.html'"></ng-include>
                </span>
              </span>
            </p>
          </th>
          <th scope="col"
            ng-click="orderByField='denominazioneAttivita'; reverseSort = !reverseSort">
            <p class="bar-table-heading">
              Nome Attivitá
              <span class="chevron">
                <span ng-show="orderByField==='denominazioneAttivita'">
                  <ng-include src="'/js/views/partials/_table-sort-symbols.html'"></ng-include>
                </span>
              </span>
            </p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr 
          ng-repeat="bar in bars.filtered | orderBy : orderByField : reverseSort"
          class="bar-single"
          ui-sref="barShow({ id: bar.id })">
          <th scope="col">{{bar.codiceAttivita}}</th>
          <td class="bar-img-container">
            <img 
              class="bar-img"
              src="/images/food_icons/{{ bar.tipologiaAttivita.image }}" alt="">
            <p>{{ bar.tipologiaAttivita.name }}</p>
          </td>
          <td>{{ bar.zona.name }}</td>
          <td>{{ bar.denominazioneAttivita | capitalise }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</section>
