<!DOCTYPE html>
<html ng-app="multiazienda">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Gestionale Multiazienda</title>
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuvV2-lIr6kqI6Y3LrnhItDlSERzaL_R4&libraries=places&language=it"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <div class="modal-shadow animate-this another" ng-show="main.showing"></div>
    <nav ng-cloak ng-show="main.nav" class="multiaziendaNav" id="multiaziendaNav">
      <div class="container">
        <ul class="">
          <li>
            <a ui-sref="home" class="logo">
              <logo></logo>
            </a>
          </li>
          <li class="icon" ng-click="main.expandMenu()">
            <a href="javascript:void(0);" style="font-size:15px;">&#9776;</a>
          </li>
          <div class="nav-wrapper">
            <li class="expandable-item" ng-show="main.user">
              <a ng-click="main.logout()" class="text-btn">ESCI <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
            <li class="expandable-item" ng-show="main.user" ng-class="{ infocus : main.inArchivio }">
              <a ui-sref="archive({ clientOrBar: 'bar' })" class="text-btn">ARCHIVIO</a>
            </li>
            <li class="expandable-item" ng-show="main.user" ng-class="{ infocus : main.inClienti }">
              <a ui-sref="clientsIndex" class="text-btn">CLIENTI</a>
            </li>
            <li class="expandable-item" ng-show="main.user" ng-class="{ infocus : main.inAttivita }">
              <a ui-sref="barsIndex" class="text-btn">ATTIVITÀ</a>
            </li>
          </div>
        </ul>
      </div>
      <div class="sub-nav" ng-show="main.canGoBack">
        <div class="container">
          <a ng-click="main.goBack()">
            <span><back-arrow></back-arrow></span>TORNA INDIETRO
          </a>
        </div>
      </div>
    </nav>
    <div class="container messages" ng-show="main.message">
      <p class="{{ main.messageType }}">{{ main.message }}</p>
    </div>
    <main  ui-view></main>
    <footer ng-show="main.nav">
      Copyright © 2017 Multiazienda Tutti diritti riservati
    </footer>
  </body>
</html>
