<section class="container seenbars-page">
  <div class="title-row row">
    <div class="col-sm-6">
      <h1>{{ seenBar.seenBar.bar.denominazioneAttivita }}, <span>{{ seenBar.seenBar.bar.codiceAttivita }}</span> <span ng-show="seenBar.seenBar.bar.archiviato"><small>(Archiviato)</small></span></h1>
    </div>
    <div class="col-sm-6">
      <a class="nav-btn responsive-btn" ui-sref="barShow({ id: seenBar.seenBar.bar.id })">Vedi l'attivita</a>
    </div>
  </div>
  <hr>
  <h2><i class="fa fa-calendar" aria-hidden="true"></i> Data aggiunto</h2>
  <p class="date-seen">{{ seenBar.seenBar.data| date : mediumDate }}</p>
  <hr>
  <!-- AREA COMMENTI -->
  <section class="comments">
    <h2><i class="fa fa-comments-o" aria-hidden="true"></i> Note</h2>
    <ul>
      <li ng-repeat="comment in seenBar.seenBar.comments" class="row">
        <div class="col-xs-3 col-sm-2 col-md-1">
          <div class="profile-photo"></div>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11">
          <div class="row">
            <div class="col-sm-10">
              <p>{{ comment.createdAt | date : "yyyy MMM dd 'alle' HH:mm" : '+0100' }}</p>
              <p>{{ comment.createdBy.username }} dice:</p>
              <p>{{ comment.body }}</p>
            </div>
            <div class="col-sm-2">
              <a ng-if="comment.createdBy.id === main.user.id" ng-click="seenBar.deleteComment(comment)"><i class="fa fa-trash-o" aria-hidden="true"></i> ELIMINA</a>
            </div>
          </div>
        </div>
      </li>
      <li ng-hide="seenBar.seenBar.comments.length > 0">Non ci sono note al momento</li>
    </ul>
    <h3>Aggiungi una nota:</h3>
    <form name="seenBar.commentForm" ng-submit="seenBar.addComment()" novalidate>
      <textarea name="name" rows="3" ng-model="seenBar.comment.body" required></textarea>
      <div class="ng-message-error" ng-messages="seenBar.commentForm.name.$error" ng-show="seenBar.commentForm.$submitted && seenBar.commentForm.name.$invalid || seenBar.commentForm.name.$invalid && seenBar.commentForm.name.$touched" role="alert">
        <p ng-message="required">* Inserisci un commento prima</p>
      </div>
      <input type="submit" value="AGGIUNGI UNA NOTA">
    </form>
  </section>
</section>
